In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math Score': [85, 90, 78, 92],
    'Science Score': [88, 76, 93, 85]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df['Average Score'] = np.mean(df[['Math Score', 'Science Score']], axis=1)

In [ ]:
print("Student Scores:\n")
print(df)

In [ ]:
top_student = df.loc[df['Average Score'].idxmax()]
print("\nTop Student:")
print(top_student)